<!DOCTYPE html>
<html lang="dk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Mikkels Bilbutik</title>
</head>

<body>
    <h1>Mikkels Bilbutik</h1>
    <div id="app">
        <div class="row" style="text-align: center;">
            <div class="col-sm-6">
                <h2>Se alle biler:</h2>
                <button id="getAllButton" @click="getAllCars" class="btn btn-primary">Alle Biler</button>               
            </div>
            <div class="col-sm-6">
                <h2>Søg efter Mærke</h2>
                <input v-model="vendorToGetBy" placeholder="Mærke" type="text" required>
                <button @click="getByVendor(vendorToGetBy)" class="submit">Søg</button>                
            </div>
        </div>
        <div class="container-fluid" style="font-size: x-large;">
            Biler:
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Mærke</th>
                         : 
                        <th>Model</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <ul id="carlist" v-if="cars.length">
                <li v-for="car in cars">
                    {{car.id}} {{car.vendor}} : {{car.model}} {{car.price}}
                </li>
            </ul>
            <div v-else>Ingen biler matcher</div>
        </div>

        <h2>Søg efter en bil</h2>


        <h2>Tilføj en bil</h2>

        <h2>Opdater en bil</h2>

        <h2>Slet en bil</h2>



    </div>
    <script src="js/index.js"></script>
</body>